<div class="page-header">
  <div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group">
      <button class="books__back btn btn-default">{{lang.back}}</button>
      <button class="books__destroy btn btn-danger">{{lang.destroy}}</button>
    </div>
  </div>
  <h1>{{title}} <small>({{year}})</small></h1>
  <p class="lead">{{author}}</p>
</div>

<div class="row">
  <div class="col-md-3">
    <img class="img-thumbnail" src="{{img}}" alt="{{title}} ({{year}}) by {{author}}">
  </div>

  <div class="col-md-9">
    <div class="list-group">
      <div class="list-group-item">
        <p class="list-group-item-text">{{description}}</p>
      </div>
    </div>
  </div>
</div>


