<div class="row">
  <div class="btn-toolbar pull-left" role="toolbar">
    <div class="btn-group">
      {{#if thumbs}}
        <button type="button" class="btn btn-default books__toggle" aria-label="{{lang.tools.showList}}">
          <span class="glyphicon glyphicon glyphicon glyphicon-th-list
  " aria-hidden="true"></span>
        </button>

      {{else}}
        <button type="button" class="btn btn-default books__toggle" aria-label="{{lang.tools.showThumbnails}}">
          <span class="glyphicon glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>

      {{/if}}

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{activeSortField.lang}} <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          {{#each inactiveSortFields}}
            <li><a href="#" class="books__sort-{{this.name}}">{{this.lang}}</a></li>
          {{/each}}
        </ul>
      </div>

      <button type="button" class="btn btn-default books__sort-direction" aria-label="{{lang.tools.showList}}">
        <span class="glyphicon glyphicon glyphicon-sort" aria-hidden="true"></span>
      </button>

    </div>
    <div class="btn-group">
    </div>
  </div>
</div>


