<div class="page-header">
  <div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group">
      <button class="books__cancel btn btn-default">{{lang.cancel}}</button>
      <button class="books__create btn btn-primary">{{lang.create.createBtn}}</button>
    </div>
  </div>
  <h1>{{lang.create.title}}</h1>
</div>

<form class="colors__form form-horizontal well" role="form">
  <div class="form-group {{#if errors.title}}has-error{{/if}}">
    <label class="col-sm-2 control-label" for="title">{{lang.book.title}}</label>
    <div class="col-sm-10">
      <input class="form-control" name="title" type="text" placeholder="{{lang.book.title}}">
      <span id="helpBlock2" class="help-block">{{errors.title}}</span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="author">{{lang.book.author}}</label>
    <div class="col-sm-10">
      <input class="form-control" name="author" type="text" placeholder="{{lang.book.author}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="year">{{lang.book.year}}</label>
    <div class="col-sm-10">
      <input class="form-control" name="year" type="text" placeholder="{{lang.book.year}}">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="description">{{lang.book.description}}</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="description" placeholder="{{lang.book.description}}" rows="5"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="img">{{lang.book.image}}</label>
    <div class="col-sm-10">
      <input class="form-control" name="img" type="text" placeholder="{{lang.book.image}}">
    </div>
  </div>
</form>
